@model ProductSummaryViewModel

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <strong>@Model.Count</strong> ürün toplam fiyatı <span class='text-danger'>@Model.TotalPrice TL.</span>
  </div>