@model ProductSummaryViewModel

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <strong>@Model.Count</strong> ürün toplam fiyatı <span>@Model.TotalPrice TL.</span>
  </div>